﻿<div>
    <h3>User List</h3>
    <input type="button" value="GetAll" onclick="GetAllUsers()" />
    <ul id="users" />
</div>
<div>
    <h3>Search Users by ID</h3>
    <input type="text" id="UserId" size="5" />
    <input type="button" value="Search" onclick="FindUser()" />
    <p id="user" />
</div>
<div>
    <h3>Add User </h3>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtFirstName" /></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" id="txtLastName" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" id="txtEmail" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="txtPassword" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="Add" onclick="AddUser()" /></td>
        </tr>
    </table>
</div>
<div>
    <h3>Delete by ID</h3>
    <input type="text" id="deleteUser" size="5" />
    <input type="button" value="Delete" onclick="DeleteUser()" />
</div>
<div>
    <h3>Update User </h3>
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" id="txtUId" /></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" id="txtUFirstName" /></td>
        </tr>
        <tr>
            <td>LastName</td>
            <td><input type="text" id="txtULastName" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" id="txtUEmail" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" id="txtUPassword" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="update" onclick="UpdateUser()" /></td>
        </tr>
    </table>
</div>

<div>
    <h3>Update Users Password</h3>
    <table>
        <tr>
            <td>User ID</td>
            <td> <input type="text" id="txtUserIdentification" /></td>
        </tr>
        <tr>
            <td> New Password</td>
            <td> <input type="text" id="txtNewPassword" /></td>
        </tr>
        <tr>
            <td>Confirm New Password</td>
            <td> <input type="text" id="txtConfirmPassword" /></td>
        </tr>
        <tr>
            <td colspan="3" align="left"><input type="button" value="update password" onclick="UpdatePassword()" /></td>
        </tr>
    </table>
</div>

<div class="row">
    <div id="body" class="col-md-4">
        <ol id="users"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="companies"></ol>
    </div>
    <div id="body" class="col-md-4">
        <ol id="defects"></ol>
    </div>
</div>


@section scripts{
    <script>

        function GetAllUsers() {
            $.ajax({
                url: '/API/User',
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (users) {
                    var list = $('#users');
                    for (var i = 0; i < users.length; i++) {
                        var user = users[i];
                        list.append('<li>' + user.Id + "   " + user.FirstName + " " + user.LastName + " " + user.Email + '</li>');
                    }
                },
                error: function () {
                    alert('Some error occurred')
                },

            });

        }

        function FindUser() {
            var id = $('#UserId').val();
            $.ajax({
                url: '/API/User/' + id,
                type: 'GET',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (result) {
                    $('#user').text(result.FirstName + " " + result.LastName + " " + result.Email);
                    for (var i = 0; i <= result.Roles.Count; i++)
                        $('#user').text(result.Roles);
                },
                error: (function (jqXHR, textStatus, err) {
                    $('#user').text('Error: ' + err);
                })
            });
        }

        function AddUser() {

            var user = {
                FirstName: $('#txtFirstName').val(),
                LastName: $('#txtLastName').val(),
                Email: $('#txtEmail').val(),
                Password: $('#txtPassword').val(),
            };

            $.ajax({
                url: '/API/User',
                type: 'POST',
                data: JSON.stringify(user),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Employee added');
                    GetAllUsers();
                },
                error: function () {
                    alert('Some error occured');
                }
            });
        }
        function DeleteUser() {
            var id = $('#deleteUser').val();
            $.ajax({
                url: '/API/User/' + id,
                type: 'DELETE',
                contentType: 'application/json',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('User deleted');
                    GetAllUsers();
                },
                error: function () {
                    alert('User not found');
                }
            });
        }

        function UpdateUser() {
            var id = $('#txtUId').val();
            var user = {
                Id: $('#txtUId').val(),
                FirstName: $('#txtUFirstName').val(),
                LastName: $('#txtULastName').val(),
                Email: $('#txtUEmail').val(),
                Password: $('#txtUEmail').val()
            };

            $.ajax({
                url: '/API/User/' + id,
                type: 'PUT',
                data: JSON.stringify(user),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Employee updated');
                    GetAllUsers();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Some error occured');
                }
            });
        }

        function UpdatePassword() {
            var userId = $('#txtUserIdentification').val();
            var dto = {
                Password: $('#txtNewPassword').val(),
                Confirm: $('#txtConfirmPassword').val()
            };
            $.ajax({
                url: '/API/User/' + userId + '/SetPassword/',
                type: 'PUT',
                data: JSON.stringify(dto),
                contentType: "application/json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('x-cmps-383-authentication-key', $.cookie('ApiKey'));
                    xhr.setRequestHeader('x-cmps-383-authentication-id', $.cookie('UserId'));
                },
                success: function (data) {
                    alert('Password updated');

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Some error occured');
                }
            });
        }
    </script>
}